<div>
            <img src="images/home/img01.jpg" alt="avion">
        </div>
        <div class="columna">
            <section class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi adipisci, commodi exercitationem cumque culpa veniam aut eaque unde iure cum qui rerum earum quisquam quod quae nostrum officiis voluptatum autem.</p>
            </section>
            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">"Simplemente exelente"</span>
                    <span class="autor">Juan Gomez - zapatos.com</span>
                </div>
            </section>
        </div>

