<section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus numquam sequi aut, magnam dignissimos amet eligendi adipisci accusantium libero omnis vitae voluptas, explicabo rerum placeat quos distinctio ipsam aliquid nisi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tenetur sequi iure ut suscipit, obcaecati molestiae recusandae eius aspernatur vitae beatae dicta, quos sunt. Voluptates veniam minima error nesciunt perferendis.</p>
        </section>
        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil labore obcaecati, vel tempora sequi enim explicabo eveniet odit dolorum earum aut aliquam eaque quidem et esse! Voluptatum, non nesciunt? Temporibus.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Maria Perez">
                    <h5>Maria Perez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil labore obcaecati, vel tempora sequi enim explicabo eveniet odit dolorum earum aut.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Diego Lopez">
                    <h5>Diego Lopez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil labore obcaecati, vel tempora sequi enim explicabo eveniet odit dolorum earum aut aliquam eaque quidem et esse! Voluptatum.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Diana Bosco">
                    <h5>Diana Bosco</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil labore obcaecati, vel tempora sequi enim explicabo.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Leandro Rodriguez">
                    <h5>Leandro Rodriguez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil labore obcaecati, vel tempora sequi enim explicabo eveniet odit dolorum earum aut aliquam.</p>
                </div>
            </div>
        </section>